@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
    animation: BodyFadeIN .48s ease-in-out;
}

@keyframes BodyFadeIN {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


body::-webkit-scrollbar {
    display: none;
}

.SmartPhone {
    display: none;
}


/********************************wrapまとめ***********************************/


.wrap1 {
    width: 100%;
    background-image: url(../img/top/building1.png);
    background-position: 50% 60%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    animation: TownMove 120s linear infinite;

}



.wrap2 {
    width: 100%;
    background-image: url(../img/top/building2.png);
    background-position: 50% 60%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: skyblue;
    animation: TownMove 120s linear infinite;
}


.wrap3 {
    width: 100%;
    background-image: url(../img/top/building3.png);
    background-position: 50% 60%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: antiquewhite;
    animation: TownMove 120s linear infinite;
}


.wrap4 {
    width: 100%;
    background-image: url(../img/top/building4.png);
    background-position: 50% 60%;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-color: #777;
    animation: TownMove 120s linear infinite;
}


@keyframes TownMove {
    0% {
        background-position: 50% 60%;
    }

    100% {
        background-position: -150% 60%;
    }
}


/********************************月と太陽***********************************/


.moon {
    position: sticky;
    top: 0px;
    padding-top: 2.5%;
    padding-right: 2.5%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.moon img {
    animation: Moon 3s ease-in-out infinite alternate;
}

@keyframes Moon {
    0% {
        transform: rotate(-30deg);
    }


    100% {
        transform: rotate(30deg);
    }
}


/*******太陽*******/

.sun {
    position: sticky;
    top: 0px;
    padding-top: 2.5%;
    padding-right: 2.5%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.sun img {
    animation: Sun 10s linear infinite;
}

@keyframes Sun {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}


/********************************ヘッダー***********************************/

header {
    z-index: 10;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    box-shadow: 0 0 5px #777;

}

nav li {
    width: 120px;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 50px;
}



nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav li a::before {
    display: inline-block;
    content: "▶";
    margin-right: .5em;
    opacity: 0;
}

nav li a:hover::before {
    opacity: 1;
}




/********************************人間歩く***********************************/

.human {
    position: fixed;
    width: 80%;
    right: 0;
    top: 50%;
    overflow: hidden;
}

.human img {
    height: 150px;
    animation: Walk 60s linear infinite;
}

@keyframes Walk {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(80vw);
    }
}

/********************************コピーライト***********************************/

.copyright {}

.copyright p {
    color: white;
}





/********************************コンテンツ**********************************/

.main {
    overflow: hidden;
    margin: 0 0 0 auto;
    padding-top: 50px;
    padding-bottom: 200px;
    width: 75%;

}

/******************コンテンツ１******************************/

.contents1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents1 > p {
    line-height: 3em;
    margin-bottom: 100px;
    background-color: white;
    padding: 0em 1em;
    border-radius: 10px;
}

.contents1 .textbox {
    position: relative;
    padding: 1.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 100px;
}

.contents1 .textbox .boxtitle {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 20px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}




/******************コンテンツ2******************************/

.contents2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents2 .textbox {
    position: relative;
    padding: 2em 1.5em;
    border: solid 3px white;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 200px;
    color: white;
}

.contents2 .textbox .boxtitle {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: skyblue;
}

.command {
    display: flex;
}

.command ul {
    margin-right: 2em;
}

.command ul li {
    list-style: none;
    margin-bottom: 1.5em;
}

.command ul li:last-child {
    margin-bottom: 0px;
}


.command ul li a {
    display: block;
    text-decoration: none;
    color: white;

}

.command ul li a::before {
    display: inline-block;
    content: "▶";
    margin-right: .5em;
    opacity: 0;
}

.command ul li a:hover::before {
    opacity: 1;
}




/******************コンテンツ3******************************/

.contents3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents3 .textbox {
    position: relative;
    padding: 1.5em 1em;
    border: solid 3px indianred;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 200px;

}

.contents3 .textbox .boxtitle {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 20px;
    color: indianred;
    font-weight: bold;
    background-color: antiquewhite;
}



.contents3 .textbox a {
    text-align: center;
    display: block;
    text-decoration: none;
    box-shadow: 0 0 5px #777;

}




/******************コンテンツ4******************************/

.contents4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents4 .textbox {
    position: relative;
    padding: 1.5em 1em;
    border: solid 3px lightgoldenrodyellow;
    border-radius: 10px;
    font-size: 16px;
    color: lightgoldenrodyellow;

}

.contents4 .textbox p {
    font-weight: bold;

}

.contents4 .textbox .boxtitle {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 0 10px;
    line-height: 1;
    font-size: 20px;
    color: lightgoldenrodyellow;
    font-weight: bold;
    background-color: #777;
}



/********************************jQueryクラス付与**********************************/


#fade1 {
    opacity: 0;
    transition: 1s ease-in;
}

#fade2 {
    font-weight: bold;
    opacity: 0;
    transition: 1s ease-in;
    text-shadow: 0 0 1px white;
}

#fade3 {
    opacity: 0;
    transition: 1s ease-in;
}

#fade4 {
    opacity: 0;
    transform: translateX(300px);
    transition: .5s ease-in;
    margin-bottom: 0px;
}

#fade5 {
    opacity: 0;
    transform: translateX(-300px);
    transition: .5s ease-in;
}

#fade6 {
    opacity: 0;
    transform: translateX(-300px);
    transition: .5s ease-in;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    padding: 30px;
}

#fade7 {
    opacity: 0;
    transform: translateX(300px);
    transition: .5s ease-in;
    border-color: darkblue;
}

#fade7 > h2 {
    color: darkblue;
}

#fade8 {
    opacity: 0;
    transform: translateX(300px);
    transition: .5s ease-in;
    border-color: indianred;
}

#fade8 > h2 {
    color: indianred;
}


#fade9 {
    opacity: 0;
    transform: translateX(300px);
    transition: .5s ease-in;
    border-color: coral;
}

#fade9 > h2 {
    color: coral;
}

#fade10 {
    opacity: 0;
    transform: translateX(300px);
    transition: .5s ease-in;
    border-color: pink;
    margin-bottom: 0px;
}

#fade10 > h2 {
    color: pink;
}


#fade11 {
    opacity: 0;
    transform: translateX(-300px);
    transition: .5s ease-in;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    padding: 30px;
    margin-bottom: 100px;
}


#fade12 {
    opacity: 0;
    transform: scaleX(0);
    transition: .5s ease-in;

}

/********************fade13はひっさつボタン用**************************/

#fade13 {
    opacity: 0;
    transition: 1s ease-in;

}

#fade14 {
    margin-top: 100px;
    opacity: 0;
    transition: 1s ease-in;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    padding: 30px;
}

#fade15 {
    opacity: 0;
    transition: 1s ease-in;

}

#fade1.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade2.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade3.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade4.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade5.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade6.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade7.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade8.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade9.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade10.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade11.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade12.fade_in {
    opacity: 1;
    transform: translate(0);
    transform: scaleX(1);
}

#fade13.fade_in {
    opacity: 1;
    transform: translate(0);
}

#fade14.fade_in {
    opacity: 1;
    transform: translate(0);
    transform: scaleX(1);
}

#fade15.fade_in {
    opacity: 1;
    transform: translate(0);
    transform: scaleX(1);
}




/********************************モーダル**********************************/




.modaal-content-container {
    border: solid 3px white;
    border-radius: 10px;
}

.modaal-content-container p {
    color: white;
    font-weight: bold;
}

.modaal-content-container .spellbox {
    display: flex;
    justify-content: center;
}

.spellbox ul {
    width: 30%;
}

.spellbox li {
    color: white;
    list-style: none;
    font-weight: bold;
    margin-bottom: 1em;
    height: 2em;
    display: flex;
    align-items: center;
}

.spellbox li:last-child {
    margin-bottom: 0em;
}



/* タブレットレイアウト : 768 px以下。PCレイアウトからスタイルを継承。 */

@media only screen and (max-width: 768px) {

    img,
    object,
    embed,
    video {
        max-width: 100%;
        height: auto;
    }


    header {
        display: none;
    }

    .SmartPhone {
        display: block;
    }

    /*ナビメニューのスタイルを指定*/
    .NavMenu {
        position: fixed;
        /*表示位置を固定*/
        z-index: 2;
        /*重ね順を変更*/
        bottom: 2.5%;
        left: 5%;
        /*表示位置を指定*/
        padding: 30px;
        border-radius: 10px;
        border: 3px solid white;
        background-color: rgba(0, 0, 0, .5);
        /*テキストを中央揃え*/
        width: 50%;
        /*全幅表示*/
        height: auto;
        opacity: 0;
        transform: translateX(-100%);
        /*ナビを上に隠す*/
        transition: .35s ease-in;
        /*アニメーションの時間を指定*/
    }

    .NavMenu ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .NavMenu ul li {
        font-size: 1em;
        list-style-type: none;
        width: 120px;
        margin-bottom: 50px;
    }

    .NavMenu ul li:last-child {
        margin-bottom: 0px;
    }

    .NavMenu ul li a {
        display: block;
        /*クリックできる領域を広げる*/
        color: white;
        text-decoration: none;
        font-weight: bold;
    }


    .NavMenu ul li a::before {
        display: inline-block;
        content: "▶";
        margin-right: .5em;
        opacity: 0;
    }

    .NavMenu ul li a:hover::before {
        opacity: 1;
    }



    /*トグルボタンが押されたときに付与するクラス*/
    .NavMenu.active {
        transform: translateX(0);
        opacity: 1;
    }

    /*トグルボタンのスタイルを指定*/
    .Toggle {
        display: block;
        position: fixed;
        /* bodyに対しての絶対位置指定 */
        right: 5%;
        bottom: 2.5%;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 3;
    }

    .Toggle span {
        display: block;
        position: absolute;
        width: 30px;
        border-bottom: solid 3px #000;
        -webkit-transition: .35s ease-in-out;
        /*変化の速度を指定*/
        -moz-transition: .35s ease-in-out;
        /*変化の速度を指定*/
        transition: .35s ease-in-out;
        /*変化の速度を指定*/
        left: 6px;
    }

    .Toggle span:nth-child(1) {
        top: 9px;
    }

    .Toggle span:nth-child(2) {
        top: 18px;
    }

    .Toggle span:nth-child(3) {
        top: 27px;
    }

    /* 最初のspanをマイナス45度に */
    .Toggle.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* 2番目と3番目のspanを45度に */
    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /********************************人間歩く***********************************/

    .human {
        position: fixed;
        width: 100%;
        left: 0;
    }

    .human img {
        height: 150px;
        animation: mobileWalk 20s linear infinite;
    }


    @keyframes mobileWalk {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(80vw);
        }
    }



    /********************************wrapまとめ***********************************/


    .wrap1 {
        animation: mobileTownMove 30s linear infinite;

    }



    .wrap2 {
        animation: mobileTownMove 30s linear infinite;
    }


    .wrap3 {
        animation: mobileTownMove 30s linear infinite;
    }


    .wrap4 {
        animation: mobileTownMove 30s linear infinite;
    }


    @keyframes mobileTownMove {
        0% {
            background-position: 50% 60%;
        }

        100% {
            background-position: 150% 60%;
        }
    }

    .moon {
        padding-top: 0%;
        padding-right: 0%;

    }


    .sun {

        padding-top: 0%;
        padding-right: 0%;
    }


    .main {
        margin: 0 auto;
        padding-bottom: 200px;
        width: 90%;

    }


    .modaal-content-container {
        height: 100%;
        max-height: 60vh;
        overflow: auto;

    }


    .modaal-content-container .spellbox {
        display: flex;
        flex-direction: column;

    }

    .spellbox ul {
        width: 100%;
        margin-bottom: 1em;
    }

    .spellbox ul:last-child {
        margin-bottom: 0px;
    }

    .spellbox li {}



}

/* モバイルレイアウト : 480 px 以下。PCレイアウト、タブレットレイアウトからスタイルを継承。 */

@media only screen and (max-width: 480px) {}
